<div class="loader-cont" *ngIf = "isLoading">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <div class="cont-read">
      <div class="container-fluid">
        <h5><a routerLink="/home">Home</a><span> / </span>Health Tips</h5>
        <div class="row" *ngIf="new">
          <div class="col-md-9">
            <div class="tip-article">
              <div class="card">
                <i class="fas fa-bookmark social-icon"></i>
                <div class="card-header">
                  <p>{{new.news.title}}</p>
                  <a href={{new.news.news_source.link}}>
                    <img src={{new.news.news_source.avatar}}>
                    <small>{{new.news.news_source.name}}</small>
                  </a>
                </div>
                <div class="card-body">
                  <img src={{new.news.cover}}>
                </div>
                <div class="card-footer">
                  <p>{{new.news.content_brief}}</p>
                  <div class="card-footer__icon">
                    <i class="fas fa-heart social-icon"></i>
                    <span>{{new.news.likes_count}}</span>
                    <i class="fas fa-comment social-icon"></i>
                    <span>{{new.news.comments_count}}</span>
                    <i class="far fa-eye social-icon"></i>
                    <span>{{new.news.views_count}}</span>
                    <i class="fas fa-share social-icon"></i>
                  </div>
                  <h5>Comments</h5>
                  <textarea class="form-control" rows="5" id="comment" placeholder="Type your comment..."></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tags-article">
              <p>Tags</p>
              <ul>
              <li *ngFor= "let tag of new.news.news_tags" id="tip-topic1" class="health-tip__topic"><a>{{tag.name}}</a></li>
              </ul>
              <button class="accordion">Related Articles</button>
              <div class="panel-body">
                <a href="">
                  <i class="far fa-eye social-icon"></i>
                  <!-- <img src="assets/card3.jpg"> -->
                </a>
                <h4>Chocolate May Boost Cognitive Function</h4>
                <p>If you're looking for an excuse to chomp that bar of chocolate calling your name, then look no further; a
                  new study suggests eating chocolate at least once weekly may boost cognitive function.</p>
                <a href="" class="cont-read__btn">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>