.cont-read h5 {
  margin: 20px 0;
  font-size: 18px;
  color: #2781b6;
}

.cont-read span {
  color: #DEE0E1;
}

.cont-read .card {
  margin-top: 0;
}

.cont-read .card-header img {
  width: 40px;
}

.cont-read .card-footer .card-footer__icon {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.tags-article p {
  color: #7f8585;
  font-size: 16px;
}

.tags-article ul {
  padding: 0;
  font-size: 12px;
}

.tip-article {
  margin-bottom: 30px;
}

/***************** Related Articles - Start *****************/
.accordion {
  background-color: #fafafa;
  color: #7E8C8C;
  cursor: pointer;
  padding: 11px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.accordion:focus {
  outline: none;
}

.accordion:after {
  content: '\002B';
  color: #7E8C8C;
  font-weight: bold;
  float: right;
  font-size: 33px;
  margin-top: -15px;
}

.cont-read .active:after {
  content: "\2212";
}

.panel-body {
  padding: 0 15px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-out;
}

.panel-body i {
  color: #A5B9C6;
}

.panel-body img {
  width: 100%;
}

.card-body img {
  width: 100%;
}

.panel-body h4 {
  margin: 10px 0;
  font-size: 18px;
  color: #111;
}

.panel-body p {
  line-height: 1.2;
}

.panel-body .cont-read__btn {
  padding: 0;
  border: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cont-read__btn {
    font-size: 12px;
  }

  .cont-read__btn {
    font-size: 12px;
  }

  #pagin a {
    padding: 1px 8px;
    font-weight: 500;
  }

  .card-footer span {
    padding-right: 15px;
  }

  .accordion,
  .tags-article p {
    font-size: 13px;
  }

  .panel-body h4 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .cont-read__btn {
    font-size: 12px;
  }

  #pagin a {
    padding: 3px 9px;
    font-size: 12px;
  }

  .tags-article p {
    margin-top: 10px;
  }

  .accordion {
    font-size: 16px;
  }

  .panel-body h4 {
    font-size: 15px;
  }

  .panel-body p {
    font-size: 14px;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #337ab7;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.health-tips {
  position: relative;
}

.loader-cont {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding-top: 20%;
  text-align: center;
}
