.footer-up {
  padding: 8px 97px;
  background-color: #337AB7;
}

.footer-up p {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.footer-down {
  padding: 8px 97px;
  font-size: 14px;
  color: #fff;
  background-color: #004876;
}

.footer-down__cr {
  text-align: right;
}

.footer-down a:hover {
  color: inherit;
}

@media only screen and (max-width: 767px) {

  .footer-down .col-md-6,
  .footer-down__cr {
    text-align: center;
  }

  .card-footer p {
    font-size: 12px;
  }

  .footer-up {
    display: none;
  }

  .footer-down {
    padding: 8px 10px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-up {
    padding: 8px 18px;
  }

  .footer-up img {
    width: 80px;
  }

  .footer-up p {
    font-size: 13px;
  }

  .footer-down {
    padding: 8px 18px;
    font-size: 12px;
  }
}
