<div class="footer">
    <div class="footer-up">
        <div class="row">
            <div class="col-md-8">
                <a href="javascript:;"><img src="./assets/assets/Balsamee_footer_en.png"></a>
                <p>Balsamee application is available now on Apple and Android store.</p>
            </div>
            <div class="col-md-4">
                <div class="text-right">
                    <a href="https://apps.apple.com/gb/app/balsamee/id1097418150" nofollow><img src="./assets/assets/apple-store.png" style="margin: 5px;"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.nabdacare.nabdanet&hl=en" nofollow><img src="./assets/assets/google-play-store.png" style="margin: 5px;"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-down">
        <div class="row">
            <div class="col-md-6">
                <a href="javascript:;">Privacy Policy</a> .
                <a href="javascript:;">Terms and Conditions</a> .
                <a href="javascript:;">Contact us</a>
            </div>
            <div class="col-md-6">
                <div class="footer-down__cr">
                    <span>Copyrights reserved by Balsamee.com © 2016 - 2019</span>
                </div>
            </div>
        </div>
    </div>
</div>