/* **********************************************************************
**** Start Upper Bar 
**************************************************************************/

.upper-bar {
  background-color: #004876 !important;
  color: #fff;
  font-family: segoe-medium, Helvetica, Arial;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 38px;
}

.upper-bar .contact a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.upper-bar .contact .fas {
  color: #fff;
}

.upper-bar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.upper-bar ul li {
  float: left;
}

.upper-bar ul li a {
  margin-left: 5px;
  text-decoration: none;
  color: #fff;
}

.upper-bar ul li .lang {
  background-color: #fff !important;
  padding: 1px 5px;
  border: 1px solid #fff !important;
  border-radius: 2px;
  color: #004876 !important;
  font-weight: 500;
  padding-bottom: 5px;
}

.upper-bar ul li .lang:hover {
  background-color: #004876 !important;
  color: #fff !important;
  border-color: #004876 !important;
}

.upper-bar ul li a {
  margin-bottom: 3px !important;
}

.upper-bar ul li a:hover {
  color: rgba(0, 0, 0, 0.067);
}

.upper-bar .doctor {
  border: 1px solid #FFF;
  padding: 3px 9px;
  margin-left: 10px;
  font-size: 13px;
}

.upper-bar .doctor:hover {
  color: #152f4f;
}

.upper-bar .dropdown-menu .dropdown-item a {
  color: #08526d !important;
  text-decoration: none;
}

/* ***********************************************************************************************
  *Start NavBar Bar 
  **************************************************************************************************/
.navbar {
  background-color: #fff !important;
  padding: 0;
}

.navbar .navbar-nav .nav-link {
  color: #337ab7;
  font-size: 14px;
}

.navbar .navbar-nav .nav-link:hover {
  color: #08526d;

}

.navbar .navbar-brand .media {
  display: none;
}

.navbar .doc-media {
  display: none;
}

.navbar .contact-media-nav {
  display: none;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none;
}

@media (max-width: 992px) {

  /* upper navbarbar && navbar */
  .upper-bar {
    display: none;
  }

  .navbar .contact-media-nav {
    display: inline-block;
  }

  .navbar .contact-media-nav a {
    color: #fff;
    padding: 0 3px;
    font-size: 19px;
    font-weight: bold;
  }

  .navbar {
    padding: 8px 16px;
    background-color: #004876 !important;
  }

  .navbar .navbar-brand .main-media {
    display: none;
  }

  .navbar .navbar-brand .media {
    display: inline-block;
    margin-left: 40px;
  }

  .navbar .doc-media {
    display: inline-block;
  }

  .navbar-light .navbar-toggler {
    position: absolute;
    left: 10px;
    top: 3px;
    background-color: transparent;
    border-color: transparent !important;
  }

  .navbar-light .fa-bars:before {
    color: #fff;
    font-size: 30px;
  }

  .navbar .navbar-nav {
    margin-top: 20px;
  }

  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px 0;
  }

  .navbar .navbar-nav .nav-link:hover {
    color: #fff;

  }

  .toolbar .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

/* Extra Small Screen */
@media only screen and (max-width: 767px) {
  .upper-bar {
    display: none;
  }

  .contact-media-nav {
    display: block;
    padding-right: 32px;
  }

  .contact-media-nav .arabic {
    background-color: white !important;
    padding: 1px 5px;
    border: 1px solid white !important;
    border-radius: 2px;
    color: #004876 !important;
    font-weight: 500;
    padding-bottom: 5px;
  }

  .contact-media-nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 10px;
  }
}
