<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink ="home" href="javascript:;">
            <img class="main-media" src="assets/assets/logo.png" alt="Balsamee Logo">
            <img class="media" src="assets/assets/bcamhs-icon.png">
        </a>
        <!--Media Query Navbar -->
        <div class="contact-media-nav">
            <a href="javascript:;">ع</a>
            <a href="javascript:;"><i class="fas fa-phone-alt"></i></a>
            <a href="javascript:;"> <i class="fas fa-user"></i></a>
            <a href="javascript:;">Login</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-2x"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="javascript:;">
                        <img src="assets/assets/findDoc.png">
                        Home Visit
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="javascript:;">
                        <img src="assets/assets/mediSrv.png">
                        Nearby Medical Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <img src="assets/assets/bcamhs-icon.png">
                        BECAMHS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink ="health-tips" href="javascript:;">
                        <img src="assets/assets/heaTip.png">
                        Health Tips
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <img src="assets/assets/treatment.png" style="width: 30px;">
                        Cross Border Treatment
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <img src="assets/assets/video-icon.png">
                        Tele-Medicine
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link doc-media" href="javascript:;">
                        <img src="assets/video-icon.png">
                        Requset a video call doctor
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link doc-media" href="javascript:;">
                        <img src="assets/assets/doctor.png" style="width: 30px; height: 30px;">
                        You are Doctor? Join Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  