.upper-bar {
  background-color: #004876 !important;
  color: #fff;
  font-family: segoe-medium, Helvetica, Arial;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 38px;
}

.upper-bar .contact a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.upper-bar .contact .fas {
  color: #fff;
}

.upper-bar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.upper-bar ul li {
  float: left;
}

.upper-bar ul li a {
  margin-left: 5px;
  text-decoration: none;
  color: #fff;
}


.upper-bar ul li .lang {
  background-color: #fff !important;
  padding: 1px 5px;
  border: 1px solid #fff !important;
  border-radius: 2px;
  color: #004876 !important;
  font-weight: 500;
  padding-bottom: 5px;
}

.upper-bar ul li .lang:hover {
  background-color: #004876 !important;
  color: #fff !important;
  border-color: #004876 !important;
}

.upper-bar ul li a {
  margin-bottom: 3px !important;
}

.upper-bar ul li a:hover {
  color: rgba(0, 0, 0, 0.067);
}

.auth-area .doctor {
  border: 1px solid #FFF;
  padding: 2px 9px;
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}

.auth-area .doctor:hover {
  background-color: white;
  color: #004876;
}

.upper-bar .dropdown-menu .dropdown-item a {
  color: #08526d !important;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .upper-bar {
    display: none;
  }
}

@media (max-width: 576px) {
  .upper-bar {
    display: none;
  }
}
