<div class="upper-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col contact">
                <a href="javascript:;"><i class="fas fa-phone-alt"></i></a>
                <a href="javascript:;"> Contact Us </a>
            </div>
            <div class="col-sm-10 ml-auto">
                <ul class="auth-area">
                    <li><a class="lang" href="javascript:;"> ع</a></li>
                    <li class="doctor"> You are a Doctor? Join Us</li>
                    <li>
                        <button  type="button" class=" doctor btn btn dropdown-toggle btn-sm"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #004876; background-color: white;">
                            <i class="fas fa-user"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button"><a href="javascript:;">My Profile</a></button>
                            <button class="dropdown-item" type="button"><a href="javascript:;">Reservation</a> </button>
                            <button class="dropdown-item" type="button"><a href="javascript:;">Logout</a></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>