.carousel-img {
  height: fit-content;
}

.carousel-content {
  position: absolute;
  top: 15%;
  width: 100%;
}

.carousel-content__img {
  width: auto !important;
  margin: auto;
}

.carousel-content__txt1 {
  font-size: 24px;
  line-height: 27px;
  color: #fff;
}

.carousel-content__head {
  font-size: 36px;
  color: #ffc811;
}

.carousel-content__txt2 {
  font-size: 36px;
  line-height: 38px;
  color: #fff;
}

.owl-theme .owl-nav .fa {
  position: absolute;
  color: red;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .carousel-content {
    top: 0;
  }

  .carousel-content__img {
    width: 70px !important;
  }

  .carousel-content__txt1 {
    font-size: 17px;
  }

  .carousel-content__head {
    font-size: 22px;
  }

  .carousel-content__txt2 {
    font-size: 22px;
    line-height: 28px;
  }

  .carousel-content--padding {
    padding: 50px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-content {
    top: 0;
  }

  .carousel-content__img {
    width: 70px !important;
  }

  .carousel-content__txt1 {
    font-size: 17px;
  }

  .carousel-content__head {
    font-size: 22px;
  }

  .carousel-content__txt2 {
    font-size: 22px;
    line-height: 28px;
  }

  .carousel-content--padding {
    padding: 50px;
  }
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #cc4a4a;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
