<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img class="carousel-img" src="./assets/assets/balsamee_banner.jpg">
        <div class="carousel-content">
            <div class="row">
                <div class="offset-lg-2 col-lg-2 offset-md-2 col-md-3 text-center">
                    <img class="carousel-content__img" src="assets/assets/Balsamee_landing_20.png" alt="balsamee banner">
                    <p class="carousel-content__txt1">Request Nearby Home Doctor</p>
                    <button class="custom-btn">Request Now</button>
                </div>
                <div class="offset-lg-4 col-lg-2 offset-md-2 col-md-3 text-center">
                    <img class="carousel-content__img" src="assets/assets/Balsamee_landing_23.png" alt="balsamee banner">
                    <p class="carousel-content__txt1">Find Nearby Medical Service</p>
                    <button class="custom-btn">Find Now</button>
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide class="slider slide2">
        <img class="carousel-img" src="./assets/assets/balsamee-cbt-slider-english.jpg">
        <div class="carousel-content carousel-content--padding">
            <div class="offset-md-1 col-md-5 pl-0">
                <h3 class="carousel-content__head">Cross-Borders Treatment</h3>
                <p class="carousel-content__txt2">Your Medical Journey Companion around the World</p>
                <button class="custom-btn">More details</button>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide class="slider slide3">
        <img class="carousel-img" src="./assets/assets/nearby-services.jpg">
        <div class="carousel-content carousel-content--padding">
            <div class="offset-md-1 col-md-6 pl-0">
                <p class="carousel-content__txt2">Search on nearby medical services (Hospitals, Clinics, Pharmacies,...)</p>
                <button class="custom-btn">More details</button>
            </div>
        </div>
    </ng-template>  

</owl-carousel-o>