
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.ttf") format("truetype"),
    url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Semibold.woff2") format("woff2"),
    url("../fonts/OpenSans-Semibold.woff") format("woff"),
    url("../fonts/OpenSans-Semibold.ttf") format("truetype"),
    url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DroidKufiRegular";
  src: url("../fonts/DroidKufiRegular.eot");
  src: url("../fonts/DroidKufiRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DroidKufiRegular.woff2") format("woff2"),
    url("../fonts/DroidKufiRegular.woff") format("woff"),
    url("../fonts/DroidKufiRegular.ttf") format("truetype"),
    url("../fonts/DroidKufiRegular.svg#DroidKufiRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DroidKufiBold";
  src: url("../fonts/DroidKufiBold.eot");
  src: url("../fonts/DroidKufiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DroidKufiBold.woff2") format("woff2"),
    url("../fonts/DroidKufiBold.woff") format("woff"),
    url("../fonts/DroidKufiBold.ttf") format("truetype"),
    url("../fonts/DroidKufiBold.svg#DroidKufiBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
.font-B {
  font-family: "OpenSans-Bold";
}
.font-L {
  font-family: "OpenSans-Light";
}
.font-SB {
  font-family: "OpenSans-Semibold";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  background: #f4f4f0;
  font-size: 14px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.ar {
  direction: rtl;
  text-align: right;
  font-family: "DroidKufiRegular", Arial, Helvetica, sans-serif;

}

.ar .font-B {
  font-family: "DroidKufiBold";
}
.ar  .font-SB {
  font-family: "DroidKufiBold";
  font-weight: 600;
  font-style: normal;
}
.ar .font-L {
  font-family: "DroidKufiRegular";
  font-weight: 300;
  font-style: normal;
}

.ar .landing-slider .carousel-item{
  float: left;
  margin-left: 0;
}
.ar .carousel-control-prev {
right: auto;
}

.ar #demo{
  direction: ltr;
}

.btn-original {
  border: 2px solid #fff;
  padding: 5px 15px;
  background: none;
  border-radius: 0;
  margin: 5px;
  color: #fff;
}

.btn-green {
  background: #8dc043;
  border-color: #8dc043;
}

.gr-back {
  background: #8dc043;
}

.pr-back {
  background: #008795;
}

.gr-text {
  color: #8dc043;
}

.pr-text {
  color: #008795;
}
.section-block {
  margin: 50px 0;
  min-height: 500px;
}
.border-rounded {
  border-radius: 50%;
}



.custom-carousel-arrows {
  border: 1px solid #008795;
  width: 50px;
  margin: auto;
  padding: 5px 7px;
  color: #008795;
}

.ar .owlCarouselItems{
direction: ltr;
}
.diamond-box{
  overflow: visible  !important;
}






