.container-fluid {
  padding-right: 67px;
  padding-left: 67px;
}

.container-fluid .helth-tip h4 {
  margin-top: 15px;
  font-size: 19px;
  font-weight: normal;
  color: #004876;
}

.container-fluid .helth-tip ul {
  padding-left: 0;
}

.container-fluid .helth-tip .helth-tip__view--all {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0px 10px;
  border: 1px solid #004876;
  border-radius: 3px;
  cursor: pointer;
  list-style-type: none;
  background-color: #004876;
  color: #fff;
}

.container-fluid .helth-tip .health-tip__topic {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0px 10px;
  border: 1px solid #004876;
  border-radius: 3px;
  cursor: pointer;
  list-style-type: none;
  color: #004876;
  margin-right: 7px;
}

.container-fluid .helth-tip .health-tip__topic .tip-active {
  background-color: #fff;
}

.container-fluid .helth-tip .health-tip__topic .tip-active {
  background-color: #004876;
}

.container-fluid .helth-tip .health-tip__topic:hover,
.container-fluid .helth-tip .health-tip__topic:focus {
  border-color: #8fb7e1;
  color: #6585a9;
  /***************** Health Tips - END *****************/
}

.container-fluid .sort-input {
  display: flex;
  justify-content: flex-end;
}

.container-fluid .sort-input .sotr-label {
  margin-top: 40px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #585858;
}

.container-fluid .sort-input .sort-menu {
  margin-top: 40px;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 500;
  color: #585858;
}

/***************** Health Tips Cards - START *****************/
.tip-content .content .col-md-4 {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.tip-content .card {
  margin-top: 20px;
}

.tip-content .card .card-header {
  min-height: 68px;
  border-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  color: #585858;
  background-color: #fff;
}

.tip-content .card .card-header p {
  font-size: 20px;
  font-weight: 500;
}

.tip-content .card .card-body img {
  width: 100%;
  height: 200px;
}

.tip-content .card .card-footer {
  border-top: 0;
  font-size: 14px;
  line-height: 1.4;
  color: #787878;
  background-color: #fff;
}

.tip-content .card .card-footer p {
  min-height: 76px;
}

.tip-content .card .card-footer span {
  padding-right: 20px;
}

.tip-content .card .cont-read__btn {
  padding: 3px 10px;
  border-radius: 2px;
  border: 1px solid #337ab7;
  color: #337ab7;
}

.tip-content .card .cont-read__btn:hover {
  text-decoration: none;
  border-color: #23527c;
  color: #23527c;
}

.tip-content .card .social-icon {
  cursor: pointer;
  color: #ccc;
}

.tip-content .card .social-icon:hover,
.tip-content .card .social-icon:focus {
  color: #8fb7e1;
}

.tip-content .card .fa-bookmark {
  text-align: right;
  margin-right: 20px;
}

.tip-content .card-footer__icon {
  margin-top: 15px;
}

#pagin {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 60px 0;
}

#pagin ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#pagin a {
  color: #004876;
  padding: 5px 12px;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid #004876;
  font-weight: 400;
}

.btn {
  background-color: #fff;
  color: #004876;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.main {
  min-height: calc(100vh - 38px - 80px - 40px);
}

.animated {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #337ab7;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.health-tips {
  position: relative;
}

.loader-cont {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding-top: 20%;
  text-align: center;
}
