<section class="health-tips">
    <div class="loader-cont" *ngIf = "isLoading">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="container-fluid">
      <!----------------------- Health Tips - Start ----------------------->
      <div class="row">
        <div class="col-md-8">
          <div class="helth-tip">
            <h4>Health Tips</h4>
            <ul>
              <li *ngFor ="let tag of healthTipstags | slice:0:10" id="tip-topic1" class="health-tip__topic tip-active"><a  (click)="newsFeedByTag(tag.id)">{{tag.name}}</a></li>
              <li class="helth-tip__view--all" data-toggle="collapse" data-target="#tip-demo"><a>View all</a></li>
              <div id="tip-demo" class="collapse">
                <li  *ngFor ="let tag of healthTipstags | slice:10" id="tip-topic11" class="health-tip__topic"><a (click)="newsFeedByTag(tag.id)">{{tag.name}}</a></li>
              </div>
            </ul>
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class="sort-input">
            <div class="">
              <label class="sotr-label">Sort by</label>
            </div>
            <div class="">
              <select class="sort-menu" [(ngModel)]="news_sort" (ngModelChange)="getNews()">
                <option value="" disabled>Relevance</option>
                <option value="chronological">Date</option>
                <option value="views">Most Viewed</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <!----------------------- Health Tips Card - Start ----------------------->
      <div class="main">
        <div id="tip-topic1show" class="tip-content">
          <div class="content">
            <div class="row">
              <div class="col-md-4" *ngFor="let card of news">
                <div class="card">
                  <i class="fas fa-bookmark social-icon"></i>
                  <div class="card-header"> {{card.title}}</div>
                  <div class="card-body">
                    <img src={{card.cover}} alt="tip1">
                  </div>
                  <div class="card-footer">
                    <p>{{card.content_brief}}</p>
                    <a (click)="onSelect(card)" class="cont-read__btn">Continue Reading</a>
                    <div class="card-footer__icon">
                          <i *ngIf="card.is_liked" (click)="card.is_liked=false" class="fas fa-heart"></i>
                          <i *ngIf="!card.is_liked" (click)="card.is_liked=true" class="fas fa-heart social-icon" ></i>
                      <span>{{card.likes_count}}</span>
                      <i class="fas fa-comment social-icon"></i>
                      <span>{{card.comments_count}}</span>
                      <i class="far fa-eye social-icon"></i>
                      <span>{{card.views_count}}</span>
                      <a href={{card.share_url}}><i class="fas fa-share social-icon"></i></a>
                      <span>{{card.share_count}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-light" (click)="loadMoreNews()">
           <i class="fas fa-sync-alt" [ngClass]="{'animated': isLoading==true}"></i>
           Get More Data
        </button>
      </div>
    </div>
  
  </section>
  
    