body {
  background-color: #ECF0F1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.custom-btn {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  line-height: normal;
  color: #fff;
  background-color: #5bc0de;
}

.custom-btn:hover,
.custom-btn:focus {
  background-color: #31b0d5;
}


.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 40%;
  color: #FFF;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background: transparent;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  border-radius: 0;
  opacity: .5;
}

.owl-carousel .owl-nav .owl-prev {
  left: 5%;
}

.owl-carousel .owl-nav .owl-next {
  right: 5%;
}

.owl-theme .owl-dots {
  position: absolute;
  top: 90%;
  left: 45%;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 5px;
  border: 1px solid #fff;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  opacity: 1;
  background-color: transparent;
}

/******************** Responsive ********************/
/* Medium Screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .custom-btn {
    padding: 7px 16px;
    font-size: 15px;
  }
}

/* small screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom-btn {
    font-size: 15px;
  }
}

/* Extra Small Screen */
@media only screen and (max-width: 767px) {
  .custom-btn {
    padding: 7px 12px;
    font-size: 12px;
  }
}
